.explanation {
  width: 100%;
  text-align: center;
  margin-top: 10vh;

}
.form-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

button{
  box-shadow: #F46036;
  background-color: #F46036;
  color: #edf2f4;
  width: 12rem;
  height: 2rem;
  text-transform: uppercase;
  border: none;
	border-radius: 0.3125rem;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  margin: 15px;
}

.form-wrapper form table {
  width: 100%;
  border-collapse: collapse;
}

.questionaire-container{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.text-container{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  background-color: #edf2f4;
}

table thead tr {
  color: #edf2f4;
  text-align: left;
}
.form-wrapper form th:not(.empty-header){
  width: calc((90% - 10%) / 5);
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #edf2f4;
}

table tbody tr:nth-of-type(even), th:not(.simpleTable) {
  background-color: #8d99ae;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #2b2d42;
}

.simpleTable{
  margin-top: 15px;
  text-align: left;
}
