<div class="explanation">
  <p>Fill the form below to obtain a precise analysis of your personality!</p>
  <p>Big Five personality traits:</p>
  <table class="simpleTable">
    <tr>
      <th>Openness</th>
      <td>Individuals with high openness are more adventurous and creative.
      They also tend to have a broader range of interests owing to their willingness to try new things or tackle new challenges.</td>
    </tr>
    <tr>
      <th>Conscientiousness</th>
      <td>Individuals with high conscientiousness are organized and detail-oriented. They recognize the value in preparation and scheduling and prioritize the completion of important tasks.</td>
    </tr>
    <tr>
      <th>Extraversion</th>
      <td>Extraversion is characterized by sociability, talkativeness, and emotional expressiveness. Highly extroverted individuals derive energy from being around other people.</td>
    </tr>
    <tr>
      <th>Agreeableness</th>
      <td>High agreeableness is primarily associated with cooperative behaviour. More specifically, these individuals display trust, altruism, affection, and kindness toward others.</td>
    </tr>
    <tr>
      <th>Neuroticism</th>
      <td>Individuals with high neuroticism tend to experience high emotional instability. They experience a lot of stress and get upset easily. Many others struggle to recover after a traumatic event.</td>
    </tr>
  </table>
</div>
<div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <table formArrayName="answers">
        <thead>
          <th class="empty-header"></th>
          <th *ngFor="let response of possibleResponses">{{response}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions; let i = index" [formGroupName]="i">
            <label>{{ question }}</label>
            <td *ngFor="let response of possibleResponses; let j = index">
                <input type="radio" formControlName="answer" value="{{j + 1}}" [attr.name]="'question' + i">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
</div>
