<div class="explanation">
  <p>Introduce your Steam id and get a mini-report about your usage and a ChatGPT personality assesment!</p>
  <p>Make sure to have your profile privacy set to public, otherwise we will be unable to obtain the necessary data!</p>
  <br>
  <p><a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC">How can I find my SteamID?</a></p>
</div>
<div class="form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="textInput">Introduce your SteamID:</label>
    <div>
      <input id="textInput" formControlName="textInput" />
    </div>
    <button type="submit" [disabled]="form.invalid">{{buttonText}}</button>
  </form>
</div>
