<div class="explanation">
  <p>Introduce your most listened Spotify playlist and learn what it says about you!</p>
  <p>Make sure you have set the playlist to public, otherwise we won't be able to obtain the necessary data!</p>
</div>
<div class="form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="tooltip">
      <label for="textInput">Introduce Spotify playlist's link:</label>
    </div>
    <div>
      <input id="textInput" formControlName="textInput" />
    </div>
    <button type="submit" [disabled]="form.invalid">{{buttonText}}</button>
  </form>
</div>

