.explanation {
  width: 100%;
  text-align: center;
  margin-top: 10vh;

}
.form-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  position: fixed;
  bottom: 35%;
  left: 0;
}

input{
  margin: 5px;
}

button{
  box-shadow: #1ed760;
  background-color: #1ed760;
  color: #191414;
  width: 12rem;
  height: 2rem;
  text-transform: uppercase;
  border: none;
	border-radius: 0.3125rem;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  margin: 15px;
}
