<div class="explanation" *ngIf="!aptForComparision(); else resultOverview">
  <p>Welcome to Your About Page! Here you can get your Big Five personality traits infered and compared!</p>
  <p>Note that this is done for fun, don't expect great accuracy, though you have a form to compare the obtained results with!</p>
  <p>Get at least two reports and come back to see comparision between them.</p>
</div>
<ng-template #resultOverview>
  <app-compact-result></app-compact-result>
</ng-template>
