<div class="personality">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
<div *ngIf="charts" class="charts">
</div>
<div *ngIf="isGameReport(report)" class="result steam">
  <div class="details">
    <div class="detail"><span class="field">Games Owned:</span><span class="value">{{ report.gamesOwned }}</span></div>
    <div class="detail"><span class="field">Unplayed Games:</span><span class="value">{{ report.unplayedGames }}</span></div>
  </div>
  <div class="table-wrapper">
    <table *ngIf="items[0].length != 0">
      <caption>Top Twenty</caption>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items[0]">
          <td><img src="{{ item.iconUrl }}"  alt="icon for {{ item.name }}"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.playtime | hourFormatter }}</td>
          <td>{{ item.lastTimePlayed | hourFormatter }}</td>
          <td><span *ngFor="let tag of item.tags">{{tag}}, </span></td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="items[1].length != 0">
      <caption>Last Twenty</caption>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items[1]">
          <td><img src="{{ item.iconUrl }}"  alt="icon for {{ item.name }}"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.playtime | hourFormatter}}</td>
          <td>{{ item.lastTimePlayed | hourFormatter }}</td>
          <td><span *ngFor="let tag of item.tags">{{tag}}, </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isPlaylistReport(report)" class="result spotify">
  <div class="details">
    <div class="detail"><span class="field">Name:</span><span class="value">{{ report.name }}</span></div>
    <div class="detail"><span class="field">Average Popularity:</span><span class="value">{{ report.averagePopularity | twoDecimals}} </span></div>
    <div class="detail"><span class="field">Average Danceability:</span><span class="value">{{ report.averageDanceability | twoDecimals}}</span></div>
    <div class="detail"><span class="field">Average Energy:</span><span class="value">{{ report.averageEnergy | twoDecimals}}</span></div>
    <div class="detail"><span class="field">Average Instrumentalness:</span><span class="value">{{ report.averageInstrumentalness | twoDecimals}}</span></div>
    <div class="detail"><span class="field">Average Happiness:</span><span class="value">{{ report.averageHappiness | twoDecimals}}</span></div>
    <div class="detail"><span class="field">Average Tempo:</span><span class="value">{{ report.averageTempo | twoDecimals}}</span></div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items[0]">
          <td><img src="{{ item.coverUrl }}" alt="cover for {{ item.name }}"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.album }}</td>
          <td>{{ item.artist }}</td>
          <td>{{ item.popularity | twoDecimals}}</td>
          <td>{{ item.danceability | twoDecimals}}</td>
          <td>{{ item.energy | twoDecimals}}</td>
          <td>{{ item.instrumentalness | twoDecimals}}</td>
          <td>{{ item.happiness | twoDecimals}}</td>
          <td>{{ item.tempo | twoDecimals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
