img {
  max-width: 80px;
}

.personality {
  width: 60%;
  margin: 2rem auto;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
  background-color: #2b2d42;
  padding: 1rem;
}

.detail span{
  color: #edf2f4;
}

.field {
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  text-align: center;
}

div {
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

thead {
  margin-bottom: 5px;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #edf2f4;
}

table tbody tr:nth-of-type(even),
th {
  background-color: #8d99ae;
}
.table-wrapper{
  overflow-x: auto;
}
.result.steam tbody tr:last-of-type {
  border-bottom: 2px solid #66c0f4;
}

.result.spotify tbody tr:last-of-type {
  border-bottom: 2px solid #1ed760;
}

.spotify .result td:nth-last-child(-n+6) {
  width: calc((100% - 50%) / 6);
}
