<header>
  <div class="logo-wrapper">
    <img src="./../../../assets/youraboutpage.webp" alt="logo">
  </div>
</header>
<nav>
    <ul>
      <li class="button"><a [routerLink]="[ '/' ]"  [ngClass]="{'pressed': isActiveRoute('/')}" class="pressed" class="overview">OVERVIEW</a></li> |
      <li class="button"><a [routerLink]="[ '/steam' ]"  [ngClass]="{'pressed': isActiveRoute('/steam')}" class="steam">Steam</a></li>
      <li class="button"><a [routerLink]="[ '/spotify' ]"  [ngClass]="{'pressed': isActiveRoute('/spotify')}" class="spotify">Spotify</a></li>
      <li class="button"><a [routerLink]="[ '/form' ]"  [ngClass]="{'pressed': isActiveRoute('/form')}" class="form">Form</a></li>
    </ul>
</nav>

