header {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 1vw;
  background-color: #2b2d42;
}

header .logo-wrapper {
  display: flex;
  align-items: center;
}

header .logo-wrapper img {
  max-height: 5vh;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 1vw;
  padding-bottom: 10px;
  border-bottom: 1px #2b2d42 solid;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

nav li.button {
  display: inline;
}

nav li a {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #2b2d42;
  border-radius: 3px;
  color: #2b2d42;
}

nav li a:hover {
  background-color: #edf2f4;
}

nav li a.overview.pressed {
  box-shadow: #2b2d42 0 0 10px 3px;
  background-color: #2b2d42;
  border: 1px solid #8d99ae;
  color: #edf2f4;
}

nav li a.overview:hover {
  box-shadow: #2b2d42 0 0 10px 3px;
  background-color: #2b2d42;
  color: #edf2f4;
}

nav li a.steam.pressed {
  box-shadow: #66c0f4 0 0 10px 3px;
  background-color: #171a21;
  border: 1px solid #8d99ae;
  color: #c7d5e0;
}

nav li a.steam:hover {
  box-shadow: #66c0f4 0 0 10px 3px;
  background-color: #171a21;
  color: #c7d5e0;
}

nav li a.spotify.pressed {
  box-shadow: #1ed760 0 0 10px 3px;
  background-color: #1ed760;
  border: 1px solid #8d99ae;
  color: #191414;
}

nav li a.spotify:hover {
  box-shadow: #1ed760 0 0 10px 3px;
  background-color: #1ed760;
  color: #191414;
}

nav li a.form.pressed {
  box-shadow: #F46036 0 0 10px 3px;
  background-color: #F46036;
  border: 1px solid #8d99ae;
  color: #edf2f4;
}

nav li a.form:hover {
  box-shadow: #F46036 0 0 10px 3px;
  background-color: #F46036;
  color: #edf2f4;
}
