/* You can add global styles to this file, and also import other style files */
/*:root{
  color-scheme: light dark;
}
body{
  background-color: #343a40;

}
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  font-size: 1vw;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}
body{
  height: 100vh;
}

app-root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
